.Header {
  height: 24px;
  position: relative;
  background-color: $bg-orange;
  box-sizing: border-box;
}

.Header-logo {
  border: 1px solid $txt-white;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  margin-left: 2px;
}

.Header-logo, .Header-title, .Header-linksItem {
  display: inline-block;
  vertical-align: middle;
}

.Header-content {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  margin-left: 22px;
  color: $txt-black;
}

.Header-title {
  font-weight: bold;
  color: $txt-black;
  margin: 0 5px;
}

.Header-links {
  display: inline-block;
}

.Header-linksItem, .Header-login a {
  text-decoration: none;
  font-size: 12px;
  color: $txt-black;
}

.Header-linksItem {
  display: inline-block;
}

.Header-login {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 5px;
}
