.Header {
  background-color: $bg-orange!important;
}

.Header-links {
  margin-left: 200px;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  color: $txt-white;
}

.Header-linksItem, .Header-login a {
  text-decoration: none;
  color: $txt-white;
}

.Header-linksItem {
  margin-left: 10px;
}

.Header-moreIcon svg {
  color: $txt-white!important;
}
