.i-hn-logo {
  background-image: url(/img/hn-logo.svg);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-color: $txt-white;
  border: 1px solid $txt-white;
  width: 25px;
  height: 25px;
}
