// Breakpoints
$bp-xsmall: 500;
$bp-small: 768;
$bp-medium: 1024;
$bp-large: 1440;
$bp-xlarge: 1920;

// Colors
$txt-black: #000000;
$txt-white: #FFFFFF;
$txt-dark: #363636;
$txt-color: #828282;
$bg-orange: #FF6600;
$bg-pale-yellow: #F6F6EF;
